html {
    min-height: 100dvh;
    overscroll-behavior: none;
}

body {
    min-height: inherit;
    height: 100%;
    margin: 0;
    padding-top: 50px;




    background: linear-gradient(to bottom,
            #0F1216,
            #161B22,
            #1F252D);




    background-size: 200% 200%;
    animation: drift 18s ease infinite;
    transition: opacity 0.8s ease, filter 0.8s ease;
    animation: enterMind 2s ease forwards;

}



@keyframes drift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }


}


@keyframes enterMind {
    0% {
        opacity: 0;
        filter: blur(10px) brightness(0.4);
        transform: scale(1.02);
    }

    100% {
        opacity: 1;
        filter: blur(0) brightness(1);
        transform: scale(1);
    }
}




h1 {
    font-family: 'Inter', sans-serif;
    /* NOT serif */
    font-size: 48px;
    letter-spacing: 1px;
    color: #E8E6E3;
    opacity: 0.9;
    text-align: left;
    /* keep structure */

    margin-left: 12%;
    margin-bottom: 64px;

}



.project {
    display: flex;
    align-items: flex-start;
    gap: 5rem;

    margin-left: 12%;
    margin-bottom: 120px;

    position: relative;
}


.project:hover::before {
    content: "";
    position: absolute;
    inset: -20px;

    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.03),
            transparent 70%);
    z-index: -1;
}


.project:hover {
    transform: translateY(-6px);
    transition: 0.3s ease;
    cursor: pointer;
}


.project::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 80%;
    height: 1px;
    background: rgba(255, 255, 255, 0.05);
}


.project-img img {
    width: 320px;
    border-radius: 10px;
    filter: brightness(0.85) contrast(1.05);
    transition: 0.4s ease;
}


.project:hover img {
    filter: brightness(0.95) contrast(1.1);
}


.project-text {
    max-width: 420px;
}

.project-text h2 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #E8E6E3;
    margin-bottom: 16px;
}


.project-desc {
    color: #9AA6B2;
    line-height: 1.8;
    margin-bottom: 16px;
}


.project-meta {
    color: #6E7A86;
    font-size: 0.85rem;
    margin-bottom: 20px;
}


.project-link {
    text-decoration: none;
    color: #C7D0D9;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
}


.project-link:hover {
    letter-spacing: 1px;
    opacity: 0.8;
}

.back-btn {
    position: fixed;
    top: 40px;
    left: 40px;

    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;

    color: #6E7A86;

    text-decoration: none;
    letter-spacing: 0.5px;
    text-shadow: 0 0 10px rgba(150, 170, 190, 0.2);
    opacity: 0.7;
    transition: 0.4s ease;

}

.back-btn:hover {
    opacity: 1;
    transform: translateX(-3px);
}